/*=========Body=========*/
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*=========Navigation=========*/
.mainheader nav {
    background: #fff;
    font-family: Futura, serif;
    font-style: italic;
    font-size: 30px;
    position: fixed;
    margin-top: 30px;
    width: 100%;
    z-index: 100;
}

.mainheader a {
    color: inherit;
}

.mainheader small {
    font-size: 14px;
}

.mainheader ul {
    margin: 0;
    padding: 0;
}

.mainheader li {
    list-style: none;
    font-size: 25px;
    padding: 5px 0;
}

.mainheader li a {
    text-decoration: none;
}

.mainheader li a:hover {
    text-decoration: underline;
}

/*=========Burger=========*/
.burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    margin-top: 12px;
}

.burger:before, .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    margin-bottom: 5px;
}

.burger-check {
    display: none;
}

.burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
}

.navigation {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
    max-height: 500px;
}

/*=========Content=========*/
.maincontent {
    font-size: 13px;
    line-height: 20px;
    margin-top: 80px;
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.topcontent {
    width: 100%;
}

.topcontent h2 {
    font-family: Futura, serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.bottomcontent {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/*=========Footer=========*/
.mainfooter {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

.mainfooter img {
    width: 25px;
    padding: 0px 5px;
}

/*=========Mobile=========*/
@media screen and (max-width: 414px) {
    .topcontent img {
        width: 100%;
    }
    .bottomcontent h3, .bottomcontent p, .bottomcontent h4 {
        padding: 0px 20px;
    }
}
